@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FEA443, #705E78);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(37, 37, 37, 0.418);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: rgb(42, 9, 230);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(33, 9, 170);
}

h2{
    color: turquoise;
}
p {
    text-align: justify;
}